@import "../../variables";
@import "../../shared-styles";
.daily-reporting-nav {
  background: rgb(251, 232, 237);
  background: linear-gradient(
    90deg,
    rgba(251, 232, 237, 1) 25%,
    rgba(255, 255, 255, 1) 91%
  );
  position: fixed !important;
  z-index: 40;
}
.daily-reporting-container {
  padding: 50px 0 60px 0;
  background: #f8f8f8 !important;
  background: linear-gradient(
    180deg,
    rgba(251, 234, 205, 1) 63%,
    rgba(255, 255, 255, 1) 96%
  );
  p {
    font-size: 18px;
    margin-top: 30px;
    color: black;
  }
  h1 {
    color: black;
    margin-top: 20px;
  }

  @media screen and (max-width: 620px) {
    text-align: center;
    padding-top: 10px;
  }
}
.daily-planning-features {
  //   margin-top: 100px;
  .daily-report-feature {
    height: 360px;
    border-radius: 20px;
    padding: 80px 20px 0 20px;
    text-align: center;
    position: relative;
    z-index: 2 !important;
    h4 {
      margin: 20px 0;
      text-align: center;
    }
  }
  .itemm1 {
    background: #ffd5eb99;
  }
  .itemm2 {
    background: #fff2de;
  }
  .itemm3 {
    background: #cef0ff;
  }
  .itemm4 {
    background: #fbddff;
  }
  .itemm5 {
    background: #d8fff3;
  }
  .itemm6 {
    background: #f1eaff;
  }
}
.daily-reporting-dashboard {
  padding-top: 100px;
  margin-top: -140px;
  background-image: url("../../assets/images/daily-bg.svg");
  background-size: cotain;
  //   background-color: #f8f8f8;
  //   background-repeat: no-repeat;
  .empty-gray1 {
    height: 140px;
    background-color: #f8f8f8;
    background-image: url("../../assets/images/daily-bg.svg");
    background-size: cover;
  }
  .empty-gray11 {
    height: 90px;
    background-color: #f6f4f4;
    background-image: url("../../assets/images/daily-bg.svg");
    background-size: cover;
    margin-top: -10px;
  }
  .daily-report-dashboard2 {
    background-position: center center;
    background-repeat: no-repeat;
    background: url("../../assets/images/daily-bg.svg"),
      linear-gradient(
        180deg,
        rgba(254, 254, 254, 1) 6%,
        rgba(231, 226, 226, 1) 51%,
        rgba(254, 254, 254, 1) 88%
      );
    img {
      margin-top: -90px;
    }
    //   color:#e7e2e2
  }
}
.dpf {
  margin-top: -2px;
  @media screen and (max-width: 620px) {
    margin-top: 15px !important;
  }
}

.daily-get-started {
  height: 220px;
  background: rgb(252, 238, 241);
  background: linear-gradient(
    180deg,
    rgba(252, 238, 241, 1) 0%,
    rgba(249, 217, 225, 1) 25%,
    rgba(252, 238, 241, 1) 100%
  );
  margin-top: 100px;
  border-radius: 30px;
  margin-bottom: 100px;
  padding-top: 50px;
  @media screen and (max-width: 620px) {
    padding: 30px 10px;
    height: fit-content;
    text-align: center;
  }
  .demo {
    @include get-started-button;
    background: transparent;
    border-color: #161617;
    margin-left: 5px;
    color: #161617;
    &:hover {
      background: #e7e7e7;
      color: #414244;
    }
  }
}
.gsmdr {
  &:hover {
    background: #9d0e2d !important;
    transition: 0.5s ease;
    color: #fff !important;
  }
}
