@import "../../../variables";
@import "../../../shared-styles";
.blog-post-container {
  border: solid 1px #0098da;
  border-radius: 20px;
  margin-top: 30px;

  padding: 0;
  &:hover {
    border: solid 1px #161617;
  }
  h5 {
    margin: 0px 0;
  }
  p {
    color: #57585a;
    line-height: 20px;
    margin-top: 20px;
  }
}
.blog-imgg {
  margin-top: -150px;
}
.main-blog-heading {
  // font-size: 60px;
}
.blog-link2 {
  &:hover {
    color: #fff;
  }
}
.blog-summary {
  ul li {
    font-family: rebondBook !important;
    color: #57585a !important;
    font-size: 16px !important;
    line-height: 35px;
    list-style: none !important;
  }
  li::before {
    content: "o";
    color: #0098da;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    //   margin-left: -1em;
  }
}
.more-blog {
  @include get-started-button;
  background: #0098da;
  color: #fff;
  margin: 60px 0 !important;
  position: relative;
  &:hover {
    background: #005b83;
  }
}
.latest-news {
  display: flex;
}
.focused-blog-div {
  border: solid 1px #e7e7e7;
  padding: 20px;
  height: 400px;
  box-shadow: 0 0 2px 2px #e7e7e7;
  border-radius: 30px;
  margin-left: 60px;
  &:hover {
    box-shadow: none;
  }
  .main-img {
    height: 340px;
    width: 450px;
    margin-left: 30px;
  }
  h5 {
    margin-top: 20px;
  }
  p {
    margin: 20px 0;
  }
}
.blog-link {
  color: #0098da;
  margin: 20px 0;
  font-family: rebondBook;
  flex-grow: 1;
  img {
    height: 30px;
    width: 30px;
  }
  &:hover {
    text-decoration: underline;
  }
}
.blog-post-container-inner {
  padding: 10px;
  height: 400px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #0098da0d;
  &:hover {
    background: #0098da33;
  }
}
