.govt-container {
  padding: 280px 0;
  background: url("../../assets/images/govt_dp.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  small {
    font-size: 16px;
    font-family: rebondG-Medium;
  }
  h1 {
    color: #ace6ff;
    margin: 30px 0;
  }
  p {
    margin-bottom: 30px;
  }
}
.govt-divs {
  h1 {
    color: #414244;
    font-size: 36px;
    margin-bottom: 20px;
  }
  p {
    color: #57585a;
  }
}
.govt-map {
  background: #f5f5f5;
  border-radius: 20px;
  padding: 10px;
}
.govt-cal {
  background: #f5f5f5;
  border-radius: 20px;
  height: 400px;
  //   padding-left: 50px;
  img {
    width: 60%;
  }
  @media screen and (max-width: 620px) {
    img {
      width: 100%;
    }
  }
}
