.blog-container {
  padding: 200px 0;
  background: rgb(227, 244, 251);
  background: linear-gradient(
    180deg,
    rgba(227, 244, 251, 1) 23%,
    rgba(255, 255, 255, 1) 83%
  );
  h1 {
    // margin: 40px 0;
    color: #000;
  }
}
.blog-heading {
  flex-grow: 1;
}
.blog-tab {
  .tabs {
    display: flex;
    width: 100%;
    border-radius: 15px;
    border: solid 1px #e7e7e7;
    padding: 20px 3px 20px 3px;
    // margin-top: -120px;
    // background: #fcfeff;
    font-family: rebondG-Bold;
    @media screen and (max-width: 620px) {
      width: 100%;
      margin-top: -30%;
      margin-left: 0%;
    }
  }
  @media screen and (max-width: 620px) {
    .tabs {
      button {
        margin-left: 10px;
      }
    }
  }

  .tab {
    width: 20%;
    background: #f3f3f3;
    padding: 15px 0;
    border: none;
    border-radius: 15px !important;
    font-size: 16px;
    @media screen and (max-width: 620px) {
      width: 100%;
    }
  }

  button.active2 {
    font-weight: bold;
    background-color: #0098da;
    color: #fff;
  }

  .panel {
    display: none;
    color: #161617;
    font-family: rebondG;
    line-height: 40px;
    padding-top: 65px;
    background: #fff;
  }
  .panel.active2 {
    display: block;
  }
}
.bold-heading {
  flex-grow: 1;
}
.tags-div {
  a {
    border: solid 1px #cecfd0;
    border-radius: 35px;
    font-size: 8px;
    background: #e7e7e7;
    color: #161617;
    padding: 4px 14px !important;
  }
}
