@import "../../variables";
@import "../../shared-styles";

.simple-prices {
  padding: 10px 30px;
  border: solid 1px #a1a4aa;
  border-radius: 10px;
  // height: 269px;
  background: #fff;
  @media screen and (max-width: 620px) {
    margin-top: 40px;
  }
  .price-tag {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: recoAltMedium;
    font-size: 33px !important;
  }
  button {
    color: #fff;
    border-radius: 35px;
    border: solid 1px #414244;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    font-family: rebondG;
    // background: #ed2f59;
    width: 100%;
    // bottom: 5px;
    &:hover {
      background: #9d0e2d;
      transition: 0.5s ease;
    }
  }
  h4 {
    font-family: rebondG-Medium;
  }
  p {
    line-height: 10px;
    font-size: 14px;
  }
  span {
    // font-size: 30px;
  }
}
.recommended {
  border: solid 2px #ed2f59 !important;
}
.recommended2 {
  border: solid 2px #0b2ff7 !important;
}
.recommended3 {
  border: solid 2px #ce456d !important;
}
.recommended5 {
  border: solid 2px #c32bd6 !important;
}
.recommended6 {
  border: solid 2px #0098da !important;
}
.recommendedT {
  border: solid 2px #4a13b2 !important;
}
.recommendedWallet {
  border: solid 2px #11a377 !important;
}
.recommendedCal {
  border: solid 2px #0098da !important;
}
.recommended-container {
  margin-top: -35px !important;
  @media screen and (max-width: 620px) {
    margin-top: 30px !important;
  }
}
.active-button {
  border: solid 2px #414244;
}
