@import "../../variables";
@import "../../shared-styles";
.careers-div {
  padding: 100px 0 200px 0;
  color: #fff;
  background: #005b83;
  h1 {
    line-height: 45px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 80px;
    margin-top: -150px;
    @media screen and (max-width: 620px) {
      margin: 0;
    }
  }
  button {
    @include get-started-button;
    background: #0098da;
    // border: none;
    color: #fff;
    margin-top: 40px;
  }
  .off-img {
    margin-top: 250px;
    @media screen and (max-width: 620px) {
      margin: 0;
    }
  }
}
.reason {
  background: #cef0ff33;
  padding: 120px 0;
  p {
    line-height: 35px;
    margin-top: 40px;
    color: #57585a;
  }
}

.believe-div {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 2%,
    rgba(240, 240, 240, 1) 25%,
    rgba(255, 255, 255, 1) 44%
  );
  padding: 150px 0;

  .believe {
    height: 404px;
    border-radius: 20px;
    padding: 40px 30px;
    margin-bottom: 30px;
    p {
      color: #57585a;
      line-height: 25px;
    }
    img {
      height: 75px;
      width: 75px;
      margin-bottom: 20px;
    }
  }
  .b-liv1 {
    background: #c4e7f78e;
  }
  .b-liv2 {
    background: #fcebd771;
  }
  .b-liv3 {
    background: #fcdce372;
  }
  .b-liv4 {
    background: #f5dcf86c;
  }
}
.growth {
  height: 312px;
  background: #cdfaec80;
  padding: 40px 30px;
  border-radius: 20px;
  //   margin-bottom: 150px;
  margin-left: 40px;
  @media screen and (max-width: 620px) {
    height: 404px;
    margin: 0;
  }
  img {
    height: 75px;
    width: 75px;
    margin-bottom: 20px;
  }
  p {
    color: #57585a;
    line-height: 30px;
  }
}
.cv-div {
  height: 363px;
  border-radius: 20px;
  background-color: #f8f8fb;
  margin-bottom: 100px;
  padding: 100px;

  background-image: url("../../assets/images/stripe-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @media screen and (max-width: 620px) {
    padding: 70px 20px;
  }
  p {
    font-size: 18px;
    margin-top: 15px;
  }
  button {
    @include get-started-button;
    background: #0098da;
    margin-top: 30px;
    &:hover {
      background: #0173a4;
      transition: 0.5s ease;
    }
  }
}
// .parallax {
//   @media screen and (max-width: 620px) {
//     position: relative !important;
//   }
// }
.job-btn {
  @include get-started-button;
  background: #0098da;

  color: #fff;
  margin-top: 40px;
}
