// App.scss
@import "~@progress/kendo-theme-default/dist/all.scss";
.k-picker-solid {
  background-color: #fff !important;
  border: solid 1px #c7c7c7 !important;
  color: #57585a !important;
  font-family: recoAltMedium;
}
.k-input,
.k-picker {
  padding: 10px 0px 10px 30px !important;
}
.filter-arrow {
  height: 10%;
  width: 10%;
  margin-right: -35px;
  position: relative;
  z-index: 2;
  margin-top: 14px;
}
