@import "../../variables";
@import "../../shared-styles";
.hrm-nav {
  background: rgb(243, 226, 226);
  background: linear-gradient(
    90deg,
    rgba(243, 226, 226, 1) 2%,
    rgba(227, 212, 246, 1) 59%,
    rgba(250, 233, 217, 1) 87%
  );
  position: fixed !important;
  z-index: 40;
}
.hr-manager-container {
  height: 1300px;
  padding: 50px 0 60px 0;
  background: rgb(243, 226, 226);
  background: linear-gradient(
    90deg,
    rgba(243, 226, 226, 1) 2%,
    rgba(227, 212, 246, 1) 89%,
    rgba(250, 233, 217, 1) 100%
  );
  @media screen and (max-width: 620px) {
    padding: 10px 0 10px 0;
    text-align: center;
  }
  p {
    font-size: 16px;
    margin-top: 30px;
    color: black;
  }
  h1 {
    font-family: recoAltMedium;
    color: #161617;
    margin-top: 20px;
  }
}
.hr-dashboard {
  margin-top: -500px;
  @media screen and (max-width: 620px) {
    margin-top: -200px;
  }
}
.hr-simple {
  padding-left: 80px;
  @media screen and (max-width: 620px) {
    padding-left: 10px;
  }
  p {
    font-size: 22px;
    line-height: 37px;
  }
  h1 {
    color: #161617;
    font-family: recoAltMedium;
    font-size: 44px !important;
  }
}
.pricing-plans {
  background: #fdf3e7;
  border: solid 1px #e7e7e7;
  border-radius: 10px;
  height: fit-content;
  padding: 50px 0;
  margin-top: 190px;
  margin-bottom: 90px;
  h3 {
    margin-bottom: 30px;
    font-family: recoAltMedium;
  }
  .paragraph {
    font-size: 18px;
    margin-bottom: 90px;
  }
  button {
    @include get-started-button;
    background: #ea8713;
    color: #fff;
    // margin-top: 60px;
    &:hover {
      background: #8c510b;
      transition: 0.5s ease;
    }
  }
}
.hr-steps {
  p {
    font-size: 18px;
  }
  h4 {
    font-family: recoAltMedium;
  }
  .boda {
    border-right: solid 1px #b9b8b8;
    height: 250px;
  }
  .pt {
    padding-top: 50px;
  }
}
.hrbtn {
  @include get-started-button;
  background: #ea8713;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 150px;
  &:hover {
    background: #8c510b;
    transition: 0.5s ease;
  }
}
.zoom {
  transition: transform 0.2s; /* Animation */
  overflow: hidden;
  box-shadow: 0 0 1px 1px rgb(236, 233, 233);
}

.zoom:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  overflow: hidden;
}
.prices-contain {
  margin-top: 50px;
  margin-bottom: 50px;
  // box-shadow: 0 0 1px 1px rgb(236, 233, 233);
}
.curve {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.curve2 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.recomend {
  margin-bottom: -120px;
  position: relative;
  z-index: 2;
  button {
    color: #bb6c0f;
    background: #fcebd7;
    border: none;
    font-size: 16px;
  }
}
.gsmhr {
  &:hover {
    background: #8c510b !important;
    transition: 0.5s ease;
  }
}
