.stories-component-div {
  background: #fff;
  padding: 0;
  margin-bottom: 90px;
  .sch-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .title {
    font-family: rebondG-Bold;
    margin: 20px 0;
  }
  .story-innerr {
    padding: 25px;
    border-left: solid 1px #e7e7e7;
    border-bottom: solid 1px #e7e7e7;
    border-right: solid 1px #e7e7e7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
    height: 300px;
    .read-more {
      color: #0098da;
      font-family: rebondG-Medium;
      font-size: 16px;
      margin-top: 30px;
      &:hover {
        text-decoration: underline;
      }
      &:hover img {
        margin-left: 10px;
        transition: 0.5s ease;
      }
      img {
        height: 18px;
        width: 18px;
        transform: rotate(35deg);
      }
    }
    p {
      line-height: 20px;
    }
  }
}
