.constuction-container {
  padding: 280px 0;
  background: url("../../assets/images/construction-dp.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  small {
    font-size: 16px;
    font-family: rebondG-Medium;
  }
  h1 {
    color: #ace6ff;
    margin: 30px 0;
  }
  p {
    margin-bottom: 30px;
  }
}
.construction-div {
  h1 {
    font-size: 36px;
    color: #414244;
    margin-bottom: 20px;
  }
  p {
    color: #57585a;
  }
}
.construction-efficiency {
  background: #f7fdff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.construction-efficiency2 {
  background: rgb(250, 250, 250);
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 1) 47%,
    rgba(255, 255, 255, 1) 62%
  );
  padding-top: 60px;
  padding-bottom: 270px;
  h1 {
    color: #414244;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 36px;
  }
  p {
    color: #57585a;
  }
}
