@import "../../variables";
@import "../../shared-styles";

.wizard-form-container {
  border: solid 1px rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 0 1px 1px rgb(221, 221, 221);
  padding: 30px 20px 50px 20px;
  // background: #fff;
}

.form {
  width: 100%;
  position: relative;
  height: fit-content;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  color: #191919;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;
  height: 40px;
  margin-top: 20px;
  border: solid 1px #e7e7e7;
  background: #fff;
  font-family: rebondG-Semi-Bold;
}
.form label {
  position: absolute;
  bottom: 4px;
  left: 20px;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: rebondG;
  color: #161617;
  pointer-events: none;
}
.form label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.form input:focus {
  outline: none;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-100%);
  font-size: 8px;
  left: 0px;
  color: black;
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}
.password-input {
  input {
    border: solid 1px #edecec !important;
    padding: 9px 5px;
    border-radius: 10px;
    background: #fff !important;
    width: 100% !important;
    height: 40px;
  }
  img {
    margin-left: -35px;
    border-right: solid 1px rgb(226, 220, 220) !important;
    border-radius: 7px;
    @media screen and (max-width: 620px) {
      margin-left: -18px;
    }
  }
}
.overviewButton {
  color: #fff;
  border: none;
  padding: 10px 0;
  border-radius: 35px;
  margin-top: 40px;
  width: 100%;
  font-size: 16px !important;
  font-weight: bold !important;
  font-family: rebondG-Medium;
  &:hover {
    background: #30266b;
    transition: 0.5 ease;
  }
  @media screen and (max-width: 620px) {
  }
}
.css-qbdosj-Input {
  padding: 6px 5px !important;
}
.css-13cymwt-control {
  border-radius: 10px !important;
  height: 40px !important;
  border: solid 1px rgb(236, 233, 233) !important;
}
//////////////////////////////////////////////////////////////////////////////////////////

.formpassword {
  width: 100%;
  position: relative;
  height: fit-content;
  overflow: hidden;
}

.formpassword input {
  width: 100%;
  height: 100%;
  color: #191919;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;
  height: 40px;
  margin-top: 20px;
  border: solid 1px #e7e7e7;
  background: #fff;
  font-family: rebondG-Semi-Bold;
}
.formpassword label {
  position: absolute;
  bottom: 4px;
  left: 20px;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: rebondG;
  color: #161617;
  pointer-events: none;
}
.formpassword label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.formpassword input:focus {
  outline: none;
}
.formpassword input:focus + .label-name .content-name,
.formpassword input:valid + .label-name .content-name {
  transform: translateY(-100%);
  font-size: 8px;
  left: 0px;
  color: black;
}
.formpassword input:focus + .label-name::after,
.formpassword input:valid + .label-name::after {
  transform: translateX(0%);
}
.css-1jqq78o-placeholder {
  font-family: rebondBook !important;
  color: #161617 !important;
  font-size: 12px !important;
  font-family: rebondBook !important ;
}
.PhoneInputCountry {
  background: #fff !important;
}
.wizard-btn {
  @include get-started-button;
  background: #005b83;
  margin-top: 30px;
}
.wizard-submit-btn {
  @include get-started-button;
  background: #0098da;
  margin-top: 30px;
  &:hover {
    background: #005b83;
  }
}
.prev-btn {
  border: none;
  background: transparent;
  color: grey;
  margin-bottom: 30px;
}
