.manufacturing-container {
  padding: 280px 0;
  background: url("../../assets/images/manufacturing-bg.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  small {
    color: #ace6ff;
    font-size: 16px;
    font-family: rebondG-Medium;
  }
  h1 {
    font-size: 40px;
    margin: 30px 0;
  }
  p {
    margin-bottom: 30px;
  }
}
.manu-divs {
  padding-top: 350px;
  @media screen and (max-width: 620px) {
    padding-top: 50px;
  }
  h1 {
    font-size: 36px;
    color: #414244;
    margin-bottom: 20px;
  }
  p {
    color: #57585a;
  }
}
.manu-divs2 {
  h1 {
    font-size: 36px;
    color: #414244;
    margin-bottom: 20px;
  }
  p {
    color: #57585a;
  }
}
.unknown {
  height: 451px;
  border: solid 1px #e7e7e7;
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 150px;
}
