@import "../../../variables";
@import "../../../shared-styles";

.compare-features-container {
  .accordion-button::after {
    margin-left: 20px !important;
    margin-top: 0px !important;
  }
  .accordion-header {
    background: #f2fafe !important;
    padding-bottom: 80px;
  }
  p {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: rebondG-Semi-Bold;
  }
  .accordion-body {
    background-color: #f2fafe !important;
    @media screen and (max-width: 620px) {
      padding: 0 !important;
    }
  }
  .accordion-button:not(.collapsed) {
    background: #fff !important;
  }
  .accordion-item {
    border: none !important;
  }

  .accordion-button:focus {
    border-color: #fff !important;
    outline: none !important;
    background: #fff !important;
    color: #161617 !important;
    border: solid 1px rgb(153, 151, 151) !important;
  }
  .accordion-button:hover {
    border-color: #fff !important;
    outline: none !important;
    background: rgb(224, 221, 221) !important;
  }
  .accordion-button {
    box-shadow: 0 0 3px 3px rgb(249, 246, 246) !important;
    margin-top: 140px;
    font-family: brother-regular;
    width: 230px;
    border: solid 1px rgb(214, 210, 210) !important;
    margin-left: 43%;
    padding: 5px 5px 0 10px !important;
    border-radius: 35px !important;
    text-align: center !important;
    @media screen and (max-width: 620px) {
      margin-left: 21%;
    }
  }
  .accordion-button::after {
    background-image: none !important;
    content: "\02C7";
    font-size: 25px !important;
    color: black !important;
    margin-top: 5px !important;
    font-weight: bold !important;
  }
  .accordion-button:not(.collapsed)::after {
    content: "\02C7" !important;
    margin-top: -5px !important;
  }
  .accordion-button:not(.collapsed) {
    color: black !important;
    box-shadow: none !important;
    border: none !important;
  }
}
