@import "../../../variables";
@import "../../../shared-styles";

.principle {
  padding-left: 40px;
  padding-right: 40px;
  height: fit-content;
  padding-bottom: 40px;
  padding-top: 60px;
  background: #fff;
  box-shadow: -1px 11px 5px 0px rgba(250, 250, 250, 0.75);
  -webkit-box-shadow: -1px 11px 5px 0px rgba(250, 250, 250, 0.75);
  -moz-box-shadow: -1px 11px 5px 0px rgba(250, 250, 250, 0.75);
  -moz-box-shadow: -2px 16px 5px 0px rgba(247, 245, 245, 0.75);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  img {
    height: 48px;
    width: 48px;
    margin-bottom: 20px;
  }

  p {
    font-size: 13px;
    margin-top: 20px;
  }
}
