@import "../../../variables";
@import "../../../shared-styles";

.products-samples {
  height: 210px;
  border-radius: 5px;
  padding: 15px 35px 25px 20px;
  @media screen and (max-width: 620px) {
    padding: 20px 4px;
    height: 240px;
    margin-top: 10px;
  }
  img {
    width: 28px;
    height: 28px;
    margin-bottom: 10px;
  }
  p {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 30px;
  }
  button {
    @include get-started-button;
    border-color: #e7e7e7;
    color: #414244;
    transition: 0.5s ease;
    font-size: 12px;
    &:hover {
      background: #e7e7e7;
      border: solid 1px #cecfd0;
    }
  }
}
