@import "../../variables";
@import "../../shared-styles";

.school-packages-first-heading {
  background: rgb(242, 250, 253);
  background: linear-gradient(
    90deg,
    rgba(242, 250, 253, 1) 63%,
    rgba(255, 255, 255, 1) 96%
  );
  height: 320px;
  h1 {
    margin-top: 50px;
    font-size: 44px !important;
    @media screen and (max-width: 620px) {
      margin-bottom: 20px;
      font-size: 34px !important;
    }
  }
}
.nav-two-school-packages {
  background: rgb(242, 250, 253);
  background: linear-gradient(
    90deg,
    rgba(242, 250, 253, 1) 63%,
    rgba(255, 255, 255, 1) 96%
  );
}

.tabs2 {
  display: flex;
  margin-left: 0%;
  border-radius: 35px;
  border: solid 1px #0098da;
  width: 17%;
  padding: 5px;
  margin-top: 20px;
  font-family: rebondG-Bold;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 620px) {
    width: 40%;
    margin-left: 0%;
    margin-top: 40px !important;
    float: left !important;
  }
}
@media screen and (max-width: 620px) {
  .tabs2 {
    // display: grid;
  }
}
.tab {
  justify-content: center;
  align-items: center;
  width: 90%;
  background: #fff;
  padding: 7px 0;
  border: none;
  color: black;
  border-radius: 35px;
  font-size: 14px;

  @media screen and (max-width: 620px) {
    width: 100%;
  }
}

button.active2 {
  font-weight: bold;
  background: #0098da;
  color: #fff;
}
.panel {
  display: none;
  color: #161617;
  font-family: rebondG;
  line-height: 40px;
  padding-top: 150px;
  background: #fff;
  @media screen and (max-width: 620px) {
    padding-top: 80px !important;
  }
  .premium {
    border: solid 2px #0098da;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px #0098da;
    padding: 30px;
    position: relative !important;
    z-index: 2;
    margin-top: -15px;
    background: #fff;
    @media screen and (max-width: 620px) {
      margin-top: 40px;
    }
  }
  h3 {
    margin-bottom: 40px;
    font-family: rebondG-Medium;
  }
  h6 {
    margin-left: 10px;
    font-size: 15px;
    font-family: rebondBook;
  }
  .left-cards {
    padding: 30px;
    border-top: solid 1px #e6e6e6;
    border-left: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 1px 1px #9a9999;
    border-top-left-radius: 10px;
    height: fit-content;
    background: #fff;
    @media screen and (max-width: 620px) {
      border: solid 1px #e6e6e6;
      border-radius: 10px;
    }
  }
  .left-cards2 {
    padding: 30px;
    border-top: solid 1px #e6e6e6;
    border-right: solid 1px #e6e6e6 !important;
    border-bottom: solid 1px #e6e6e6;
    border-bottom-right-radius: 10px !important;
    box-shadow: 0 0 1px 1px #9a9999;
    border-top-right-radius: 10px;
    height: fit-content;
    border-left: none !important;

    // background: #fff;
    @media screen and (max-width: 620px) {
      border: solid 1px #e6e6e6;
      border-radius: 10px;
    }
  }
  .right-cards {
    border: solid 1px #e6e6e6;
    border-radius: 10px;
    padding: 30px;
    height: fit-content;
    background: #fff;
    box-shadow: 0 0 1px 1px #9a9999;

    @media screen and (max-width: 620px) {
      border: solid 1px #e6e6e6;
      border-radius: 10px;
    }
  }

  .enterprise {
    margin-top: 56px;
    background: #fff !important;
  }
  .basic {
    margin-left: -40px;
    background: #fff;
    @media screen and (max-width: 620px) {
      margin-left: 0px;
    }
  }
  .e-learning {
    margin-top: 50px;
    background: #fff;
  }
  ul li {
    border-top: solid 1px #e7e7e7;
    padding: 10px 0;
    img {
      margin-right: 12px;
    }
  }
  .premium-button {
    background: #cef0ff;
    color: #007aae;
    border: none;
    border-radius: 35px;
    padding: 0px 25px;
    font-size: 14px;
    font-family: rebondG-Medium;
    margin-left: 10px;
    position: relative;
    z-index: 4;
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
  .price-button {
    @include get-started-button;
    background: #0098da;
    width: 100% !important;
    margin: 40px 0 40px 0;
    &:hover {
      background: #30266b;
      transition: 0.5s ease;
    }
  }
}
@media screen and (max-width: 620px) {
  .panel {
    padding: 0px;
  }
}
.panel.active2 {
  display: block;
}
.upcoming {
  height: 300px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(240, 240, 240, 1) 47%,
    rgba(255, 255, 255, 1) 74%
  );
}
.monthly-container {
  padding-left: 150px;
  @media screen and (max-width: 620px) {
    padding: 0;
  }
}
.more-details-container {
  height: fit-content;
  background: rgb(242, 250, 253);
  background: linear-gradient(
    180deg,
    rgba(242, 250, 253, 1) 73%,
    rgba(255, 255, 255, 1) 96%
  );
  padding-top: 500px;
  margin-top: -400px;
  @media screen and (max-width: 620px) {
    padding-top: 50px;
    margin-top: 0px;
  }
  .onboarding {
    p {
      font-size: 16px;
      margin-top: 20px;
    }
  }
}
.faq-container {
  margin-top: 100px;
  h1 {
    margin-top: 100px;
  }
}
.currency-buttons2 {
  margin-top: -50px;
  button {
    border: none;
    font-family: rebondG-Semi-Bold !important;
    font-size: 16px;
    color: #161617;
    background: transparent;
    height: 30px;
    border-bottom: solid 1px #cef0fe;
  }
  @media screen and (max-width: 620px) {
    margin-left: 70%;
    // margin-top: 0px;
  }
}
